.App {
  text-align: center;
}

form {
  background: yellow;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

form div {
  text-align: left;
  margin-bottom: 5px;
}

#display {
  background: lightgoldenrodyellow;
}

.options {
  display: flex;
  flex-direction: column;
}

.options button {
  width: 20%;
  margin: 5px auto;
}

#info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 50%;
  margin: 0 auto;
  background: lightgreen;
}

#info p {
  color: red;
  margin: 5px 10px;
  text-align: center;
}

#question {
  background: lightblue;
}

#options {
  background: lightsalmon;
}