.App {
  text-align: center;
  font-family: 'IBM Plex Mono', sans-serif;
}

header {
  border: 1px solid black;
}

/* SELECT CATEGORIES */

.your-cat {
  display: inline;
  margin: 5px;
  font-size: 15px;
  background: lightpink;
  padding: 3px;
}


/* GAME SECTION */
#display {
border: 1px solid black;
margin: 0 auto;
width: 90%;
}

/* GAME INFO */
#info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 60%;
  margin: 0 auto;
  border: 1px solid black;
  height: 100px;
}
#score {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 25px;
}

#info p {
  margin: 5px 10px;
  text-align: center;
}

/* QUESTIONS */
#question-section {
  font-size: 20px;
  /* display: flex;
  justify-content: center; */
  height: 150px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

#question-section div {
  /* display: flex;
  flex-direction: column; */
}

#question {
  font-size: 25px;
  justify-self: flex-start;
  margin: 0;
  margin-top: 10px;
}

#correct, #incorrect {
  font-size: 30px;
  justify-self: flex-end;
}

#correct {
  color: green;
}

#incorrect {
  color: red;
}

/* BUTTONS */
.options {
  height: 200px;
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

.opt-button, .right-answer, .wrong-answer, #next {
  width: 95%;
  height: 90%;
  margin: 5px auto;
  border: none;
  background: yellow;
  font-size: 20px;
}
.wrong-answer {
  background: grey;
}

.right-answer {
  background: green;
}

#next {
  width: 20%;
  background: hotpink;
  color: white;
}