.App {
  text-align: center;
  font-family: 'Varela', sans-serif;
  height: 100%;
}
/* HEADER */
header {
  border: 5px solid transparent;
  background: #25F28C;
  color: white;
  font-family: 'Varela Round', sans-serif;
}

h1 {
  font-size: 55px;
  margin: 10px;
  letter-spacing: 8px;
}

/* BUTTON DEFAULTS */
button {
  border: none;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
}

button:hover {
  cursor: pointer;
}

/* HOME SECTION */
#home {
width: 400px;
height: 400px;
margin: 20px auto;
display: flex;
flex-direction: column;
justify-content: center;
box-sizing: border-box;
animation: change 5s infinite linear;
}

@keyframes change {
0% {border-radius: 50px; 
  border: 20px dotted yellow;}
50% {border-radius: 300px; 
  border: 25px dotted orange;
}
100% {border-radius: 50px; 
  border: 20px dotted yellow;}
}

#start {
  text-decoration: none;
  font-weight: bolder;
  background: #25F28C;
  color: white;
  height: 60px;
  width: 100px;
  margin-top: 20px;
  font-size: 20px;
}

/* SELECT CATEGORIES */
#categoriesPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

#categoriesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cat-button-off, .cat-button-on {
  width: 130px;
  height: 60px;
  background: #046DA5;
  border: 3px solid transparent;
  margin: 10px;
  color: white;
}

.cat-button-on {
  background: transparent;
  border: 3px solid #046DA5;
  color: #046DA5;
}

#done {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  background: #25F28C;
  color: white;
  height: 50px;
  width: 80px;
  margin-top: 20px;
}

/* SET LENGTH SECTION */
#setLength, #end {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  width: 50%;
  border: 15px dotted yellow;
  margin: 20px auto;
  padding: 40px;
  animation: border 3s infinite linear;
}

@keyframes border {
0% {border-color: yellow}
50% {border-color: orange;}
100% {border-color: yellow;}
}

input[type="number"] {
  width: 50px;
  height: 20px;
  font-size: 18px;
  text-align: center;
}

/* GAME SECTION */
#display {
margin: 0 auto;
width: 100%;
}

#displayTop {
display: grid;
grid-template-columns: 1fr 7fr 1fr;
margin-bottom: 20px;
background: #25F28C;
color: white;
font-weight: bolder;
}

#gameInfo {
  grid-column-start: 2;
  display: flex;
  justify-content: center;
}

#quit {
  margin: auto 50px auto 0;
}

#quitButton {
  width: 100px;
  height: 50px;
  background: transparent;
  color: white;
  border: 2px solid white;
}

/* GAME INFO */
#info {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 90%;
  height: 100px;
}

#info p {
  margin: 5px 10px;
  text-align: center;
  font-size: 20px;
}

#score {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 25px;
  margin: 0;
}

/* QUESTIONS */
#question-section {
  font-size: 20px;
  height: 160px;
  width: 90%;
  margin: 10px auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question-short {
  font-size: 35px;
  justify-self: flex-start;
  margin: 0;
  margin-top: 10px;
}

.question-med {
  font-size: 30px;
  justify-self: flex-start;
  margin: 0;
  margin-top: 10px;
}

.question-long {
  font-size: 25px;
  justify-self: flex-start;
  margin: 0;
  margin-top: 10px;
}

#points {
  margin: 0;
}

#correct, #incorrect {
  font-size: 30px;
  justify-self: flex-end;
  margin: 10px;
}

#correct {
  color: green;
}

#incorrect {
  color: red;
}

/* OPTIONS/RESULTS */
.options {
  height: 160px;
  width: 60%;
  margin: 0 auto 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

.opt-button, .right-answer, .wrong-answer, #next, #finish {
  width: 95%;
  height: 90%;
  margin: 5px auto;
  background: #F55926;
  color: white;
  font-size: 20px;
}

.wrong-answer {
  background: grey;
}

.right-answer {
  background: green;
}

.wrong-answer:hover, .right-answer:hover {
  cursor: default;
}

#next {
  width: 160px;
  height: 40px;
  background: hotpink;
  color: white;
}

#finish {
  width: 100px;
  height: 40px;
  background: hotpink;
  color: white;
}

/* END GAME SECTION */
#playAgain {
  background: #25F28C;
  color: white;
  height: 50px;
  width: 100px;
  font-size: 18px;
  font-weight: bolder;
}

#end h2 {
  font-size: 30px;
  margin: 0;
}
#end h3 {
  font-size: 25px;
  margin: 0;
}
#end p {
  font-size: 40px;
  margin: 0;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  background: #25F28C;
  color: white;
  width: 100%;
  text-align: left;
  border-top: 1px solid white;
}

footer p {
  margin: 10px;
}

footer a {
  text-decoration: none;
  color: grey;
}

@media only screen 
and (max-width: 1050px) {
  #categoriesGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 820px) {
  #question-section {
    height: 180px;
  }

  .options {
    height: 300px;
    grid-template-columns: 1fr;
  }

  #display {
  margin-bottom: 100px;
  }

  #displayTop {
    height: 280px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    }

    #gameInfo {
      grid-column-start: 1;
      grid-row-start: 2;
      padding-top: 20px;
    }
    
    #quit {
      grid-row-start: 1;
      margin: 20px auto;
    }

    #info {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      width: 75%;
      height: 100px;
    }

    #score {
      grid-column-start: 1;
      grid-column-end: 1;
    }
}


@media only screen 
and (max-width: 675px) {
  #categoriesGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen 
and (max-width: 490px) {
  #categoriesGrid {
    grid-template-columns: 1fr 1fr;
  }
  .question-short {
    font-size: 25px;
    justify-self: flex-start;
    margin: 0;
    margin-top: 10px;
  }
  
  .question-long {
    font-size: 20px;
  }
}