.App {
  text-align: center;
}

form {
  background: yellow;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

form div {
  text-align: left;
  margin-bottom: 5px;
}

.options {
  display: flex;
  flex-direction: column;
}

.options button {
  width: 20%;
  margin: 5px auto;
}

.right {
  background: red;
}